.event-container {
  padding: 4px 4px 8px 16px;
}
.event-container:hover,
.active-event {
  border-left: solid 5px var(--primary-color);
  cursor: pointer;
  .heading {
    color: var(--primary-color);
    font-weight: 600;
  }
}
