.about-us-summary-container {
  padding-top: 32px;
  padding-left: 24px;
}

.vision,
.mission {
  .header {
    font-size: 24px;
    font-weight: 600;
    color: var(--faint-darkblue-color);
  }
  p {
    font-size: 16px;
  }
}
