.top-nav-container {
  min-height: 45px;
  background-color: var(--primary-color) !important;
  color: #fff;
  z-index: 201;
}

.phone-and-email {
  align-content: center;
}

.top-nav-container a {
  text-decoration: none !important;
  color: #fff;
}
