.footer-botton-banner {
  border-top: solid 1px #fff;
  /* min-height: 40px; */
  padding: 0.5rem 0;
  background-color: var(--primary-color);
}

.footer-summary-container {
  min-height: 300px;
  background-color: var(--primary-color);
}

.footer-container {
  color: #fff;
}

.copyright {
  font-size: 0.8rem;
}

::ng-deep
  .p-menubar-root-list
  > .p-menubar-item
  > .p-menubar-item-content
  > .p-menubar-item-link {
  padding: var(--p-menubar-base-item-padding);
  padding-right: inherit !important;
}
