.footer-botton-banner {
  border-top: solid 1px #fff;
  /* min-height: 40px; */
  padding: 0.5rem 0;
  /* background-color: var(--primary-color); */
}
.footer-container {
  background-color: var(--primary-color);
}
.footer-summary-container {
  min-height: 300px;
  padding: 16px 8px;
}

.footer-container {
  color: #fff;
}

.copyright {
  font-size: 0.8rem;
}

.about-church-and-address-summary p {
  color: #fff;
  margin: 2px;
  font-size: 16px;
}

.about-church-and-address-summary p a {
  text-decoration: none;
  color: #fff;
}
