/* You can add global styles to this file, and also import other style files */
@use 'primeicons/primeicons.css';
@use 'bootstrap/scss/bootstrap' as *;

:root {
  // f74f22
  // d24d27
  --primary-color: #f74f22;
  --fainted-border-color: #cbd5e140;
  --while-color: #fff;
  --faint-darkblue-color: #022147;
}

body {
  font-family: 'Liberation Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji';
}

.loading-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background: rgba($color: #ffffff, $alpha: 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.prevent-entry-overlay {
  position: absolute;
  z-index: 100;
  background: rgba($color: #ffffff, $alpha: 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-bar-list-container {
  border: solid 1px var(--fainted-border-color);
  border-radius: 8px;
  padding: 10px;
}

.welcome-page-container,
.welcome-container {
  border-bottom: solid 1px #eee;
}

.shared-page-padding {
  padding: 24px 8px;
}

.tag-display {
  color: var(--primary-color);
  font-size: 24px;
  text-align: left;
  font-weight: 600;
}

.title-display {
  color: var(--faint-darkblue-color);
  font-size: 46px;
  text-align: left;
  font-weight: 700;
}

.blockquote {
  position: relative;
  margin: 20px 0;
  font-size: 14px;
  padding: 10px 30px;
  background-position: center;
  background-size: cover;
  background-color: #f7f7f7;
  border-left: 2px solid var(--primary-color);
}
