::ng-deep .p-menubar {
  border-radius: 0 !important;
}

::ng-deep .p-menubar {
  padding: 0.2rem !important;
  /* background-color: var(--primary-color) !important; */
  /* border: none !important; */
  border-radius: 0 !important;
}

::ng-deep .p-menubar a {
  font-size: 1.1rem !important;
  font-weight: 500;
}

::ng-deep .p-menubar-item {
  /* color: #fff !important; */
  background-color: transparent !important;
}
a:hover {
  color: var(--primary-color) !important;
}

::ng-deep .p-menubar-root-list {
  /* color: #fff !important; */
  background-color: transparent !important;
}

::ng-deep .p-menubar-button {
  /* color: #fff !important; */
  background-color: transparent !important;
}

::ng-deep .p-menubar-item-content {
  background-color: transparent !important;
}

/* ::ng-deep .p-menubar-item-content a {
  color: #fff !important;
}
::ng-deep .p-menubar-item-content a:hover {
  color: #fff !important;
} */

@media (max-width: 768px) {
  ::ng-deep .p-menubar {
    background-color: #fff !important;
  }

  ::ng-deep .p-menubar-root-list {
    background-color: #fff !important;
  }
}

@media (min-width: 769px) {
  ::ng-deep .custom-menu-bar p-menubarsub {
    width: 100% !important;
  }

  ::ng-deep .custom-menu-bar .p-menubar-root-list {
    display: flex !important;
    justify-content: end !important;
    /* color: #fff !important; */
    background-color: transparent !important;
  }
}

.active-link {
  color: var(--primary-color) !important;
  font-weight: 700 !important;
}
