.page-welcome-container {
  background-size: cover;
  /* background-color: var(--primary-color) !important;
  color: #fff; */
  min-height: 250px;
  /* margin-top: -115px; */
  padding-bottom: 2rem;
  background-color: var(--faint-darkblue-color);
  z-index: 200;
}

.welcome-page-header {
  color: #fff;
}

.page-intro-name {
  margin-top: 2.5rem;
  text-align: left;
}

.routing-paths {
  text-align: right;
}

.routing-paths a {
  cursor: pointer;
  text-align: right;
  font-size: 1rem !important;
  background-color: #fff;
  padding: 32px 16px;
}

.current-page {
  color: var(--primary-color) !important;
}
