.page-welcome-container {
  background-size: cover;
  /* background-color: var(--primary-color) !important;
  color: #fff; */
  min-height: 300px;
  margin-top: -115px;
  padding-bottom: 2rem;
}

.page-intro-name {
  margin-top: 2.5rem;
  text-align: center;
}

.routing-paths a {
  cursor: pointer;
  font-size: 1.4rem !important;
}

.current-page {
  color: var(--primary-color) !important;
}
