<div class="container-fluid page-welcome-container pt-5">
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="page-intro-name pt-5 slideOutRight">
          <div class="row">
            <div class="col-md-8 col-sm-8 col-sx-12">
              <h2 class="animated slideInRight welcome-page-header">
                {{ currentPathName }}
              </h2>
              <div class="blockquote">{{pageName}}</div>
            </div>
            <div class="col-md-4 col-sm-4 col-sx-12">
              <div class="routing-paths">
                <a
                  ><span (click)="changeRoute($event, '/')"> Nyumbani |</span>
                  <span
                    class="current-page"
                    (click)="changeRoute($event, currentPath)"
                  >
                    {{ currentPathName }}</span
                  ></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
